
    .openNav {
        position:fixed;
        color:white;
        font-size:2em;
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /* styles for medium only */
        font-size: 4em;
}
/*        @media screen and (min-width: 64em) {
     styles for large and onward only 
    font-size: 100px;
}*/
        z-index: 10;
        left:0;
        top:0;
    }

    .web-title {

    }

    .main {
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        .openNav {
            position: fixed;
        }
    }
    .page-nav {
        
        height: 100%;
        width:0;
        position:fixed;
        z-index: 20;
        top:0;
        left:0;
        padding:0;
        background-color:grey;
        opacity:0.9;
        margin:0;
        overflow:hidden;


        .closeBtn {
            color:white;
            display: flex;
            justify-content: flex-end;
            text-decoration: none;
            font-size:40px;
            padding-right:20px;
            margin-bottom:30px;

        }

        li {
            flex:1;
            align-items: center;
            justify-content: center;
            list-style:none;
            width:672px;
            @media screen and (max-width: 39.9em) {
               width:128px;
            }
             @media screen and (min-width: 40em) and (max-width: 63.9375em) {
               width:307px;
            }
            
            text-align:center;
            padding:20px 0;
            transition:all 0.5s ease;

            &:hover {
                background-color: #3ed343;
            }

            .nav-a {
                font-family: 'Source Sans Pro', sans-serif;
                color:white;
                padding:10px;
                text-decoration: none;
                font-size:30px;
            }
            @media screen and (max-width: 39.9375em) {
                /* styles for small only */
                .nav-a {
                    color:white;
                    padding:10px;
                    text-decoration: none;
                    font-size:16px;
                }

            }
        }
    }
    .nav-large {
        padding-top:10px;
        width:100%;
        overflow:auto;
        text-align: center;
        position:fixed;
        background-color:#1d1d1d;
        opacity:0.7;
        z-index:20;
        
        
        .page-nav-large {
            display:flex;
            align-content: flex-end;
            justify-content: flex-end;
            margin-right:150px;
            padding:0;
            list-style: none;
            float:right;
            
            
            
            li {
                flex:1;
                text-align: center;
                padding-bottom:30px;
                width:100%;
                

                }
                a {
                    font-family: 'Source Sans Pro', sans-serif;
                    text-decoration: none;
                    font-size: 1.5rem;
                    padding:10px 40px;
                    border-bottom:solid 1px;
                    transition:0.5s all ease;
                    color:white;
                     
                    &:hover {
                    color: skyblue;
                    border-color: skyblue;
                }

            }
        }
    }
